font-family: 'Germania One', cursive;
font-family: 'Source Sans Pro', sans-serif;
/*Estilo del Jquery---------*/
      #flip {
        height: 200px;
        width: 630px;
        margin-bottom: 50px;
      }
      #flip .ui-jcoverflip--title {
        visibility: hidden;
      }
      
      #flip img {
        display: block;
        border: 0;
        outline: none;
      }
      
      #flip a {
        outline: none;
      }
      #wrapper {
        margin-bottom: -100px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 180px;
        height: 300px;
        width: 630px;
        overflow: hidden;
        position: relative;
          display: block;
      }
      .ui-jcoverflip--item {
        cursor: pointer;
      }
      ul,
      ul li {
        margin: 0;
        padding: 0;
        display: block;
        list-style-type: none;
      }
      #scrollbar {
        position: absolute;
        left: 20px;
        right: 20px; 
        display: none;
      }
/*Fin del Estilo Jquery------*/
/*--------------Inicio estilo de Menu Desplegable--------------------*/
.navbar {
    overflow: hidden;
    background-color: white;
    font-family: 'Germania One', cursive;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
}
.dropdown {
    margin-left: 114px;
    float: left;
    overflow: hidden;
    width: 114px;
    height: 53px;
    background-image: url(../images/Boton-03.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;        
    padding: 13px 0px 0px 20px;
    font-size:20px;
}
.dropdown .dropbtn {  
    border: none;
    outline: none;
    color: black;
    padding: 20px 0px 0px 20xpx;
    font-family: inherit;
    font-size:22px;
    background-image: url(../images/Boton-03.png);
    text-align: center;
}
.dropdown:hover{ 
    background-position: 0px -106px;
}
.dropbtn:hover{
    color: rgb(255,102,0);
}
.navbar a:hover, .dropdown:hover{
    background-color: rgb(255,102,0);
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 13px;
    position: fixed;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 17px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

.dropdown-content a:hover {
    background-color: gray;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*---------Normales----------*/
a.boton-buscar{
    width: 114px;
    height: 53px;
    background-image: url(../images/Boton-02.png);
    background-repeat: no-repeat;
    background-position: 27px 0px;
    text-indent: -9999px;
    margin-left: auto;
    margin-top: auto;   
}
a.boton-buscar:hover{
    background-position: 27px -54px;
    background-color: white;
}
a.boton-inicio{
    margin-left: -30px;
    padding: 15px 145px 14px 145px;
    font-size: 30px;
    word-break: break-all;
}
a.boton-normal{
    text-align: left;
    margin: 0px 0px 0px 0px;
    padding: 18px 10px 17px 10px;
    font-size: 20px;
}
a.boton-logo{
    width: 0;
    height: 0;
    text-indent: -9999px; 
    display: none;
}
/*--Modifiquers---*/
    #container{margin-top: 62px;}

    .dropdown {
    margin-left: 0px;
    float: left;
    overflow: hidden;
    width: 114px;
    height: 53px;
    background-image: url(../images/Boton-03.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;        
    padding: 13px 0px 0px 20px;
    font-size:20px;
    }
    a.boton-inicio{
    font-size: 20px;
    word-break: break-all;
    }
    a.boton-buscar{
    background-image: url(../images/Boton-02.png);
    background-repeat: no-repeat;
    background-position: 27px 0px;
    text-indent: -9999px;
    margin: 0px 0px 0px -50px;
    }
/*------------------Fin estilo de Menu Desplegable-----------------------*/

/*----LISTAS POSTS----*/

.lista-post{
    margin-left: auto;
    margin-right: auto;
    float: left;
    background-color: white;
    padding: 0px 0px 0px 0px;
    margin: 0px 10px 0px 0px;
}
.lista-post2{
        display: none;
    }
.post{
    margin: 40px 25px 40px 25px;
    padding: 0px 0px 0px 0px;
}
.texto-post h3{
    margin: -135px 0px 0px 178px;
    float: left;
}
.texto-post h4{
    margin: -83px 0px 0px 178px;
    float: left;
    color: rgb(255,102,0);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.texto-post p{
    float: left;
    margin: -35px 0px 0px 178px;
    display: block;
    line-height: 17px
}
#puntuacion{
    width: 117px;
    height: 21px;
    background-image: url(../images/puntaje.png);
    margin: -60px 0px 0px 177px;
    float: left;
}
.texto-post2 h5{
    float: right;
    margin: -78px 0px 0px 340px;
    text-align: right;
}
.texto-post2 a{
    font-family: 'Germania One', cursive;
    float: right;
    color: rgb(255,102,0);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 17.5px;
    margin: -40px 0px 0px 335px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255,102,0);
}
.texto-post2 a:hover{
    background-color: rgb(255,102,0);
    color: white;
}
/*--Imagenes de Post--*/
#post1, #post2, #post3, #post4, #post5, #post6, #post7, #post8, #post9, #post10, #post11, #post12, #post13, #post14, #post15, #post16{
    width: 130px;
    height: 130px;
    background-size: contain;
}
#post1{background-image: url(../images/post1.png);}
#post2{background-image: url(../images/post2.png);}
#post3{background-image: url(../images/post3.png);}
#post4{background-image: url(../images/post4.png);}
#post5{background-image: url(../images/post5.png);}
#post6{background-image: url(../images/post6.png);}
#post7{background-image: url(../images/post7.png);}
#post8{background-image: url(../images/post8.png);}
#post9{background-image: url(../images/post9.png);}
#post10{background-image: url(../images/post10.png);}
#post11{background-image: url(../images/post11.png);}
#post12{background-image: url(../images/post12.png);}
#post13{background-image: url(../images/post13.png);}
#post14{background-image: url(../images/post14.png);}
#post15{background-image: url(../images/post15.png);}
#post16{background-image: url(../images/post16.png);}
/*----FIN LISTAS POST---*/
/*-Paginación-*/
.pagination{
margin: 0% 0% 0% 30%
}
.pagination li{
    float: left;
    padding: 15px 1.5% 0px 1.5%;
    margin: 0px 0px 20px 0px;
}
.pagination ul{
    padding: 0px;
}
.pagination ul li{
    list-style: none;
}
.pagination a{
    text-decoration: none;
    color: rgb(255,102,0);
    background-color: white;
    font-family: 'Germania One', cursive;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 45px;
    text-align: center;
}
/*Foster*/
.foster{
    float: left;
    background-image: url(../images/foster.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 140px;
}

.foster p{
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    float: left;
    color: white;
    font-size: 12.5px;
    font-style: italic;
}
.foster a{
    font-family: 'Germania One', cursive;
    font-size: 15px;
    color: white;
    padding: 10px 5px 0px 5px;
    text-decoration: none;
    text-align: center;
}
.foster a:hover{
    color: rgb(255,102,0);
}
#botones-foster{
    margin: 0% 0% 0% 33%;
    text-align: center;
}
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    position:
}
h1, h2{
    font-family: 'Germania One', cursive;
    text-align: center;
    color: white;
    font-size: 48px;
}
h3{
    font-family: 'Germania One', cursive;
    text-align: left;
    font-size: 23px;
}
h4{
    font-family: 'Germania One', cursive;
}
h5{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    color: rgb(255,102,0);
    font-weight: 400;
    font-size: 14px;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    font-size: 15px;
}
body{
    background-color: black;
    margin:0;
}
#container{
    background-image: url(../images/Fondo.jpg);
    background-position: top center;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
[class*="col-"]{
    float: left;
}
#logo{
    width: auto;
    height: 122px;
    background-image: url(../images/Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    margin: 115px 0px 85px 0px;
    text-indent: -9999px; 
}
/*----Inicio de Estilo Tab para Albums-----*/
.tab {
    width: 100%;
    display: contents;
    margin-left: auto;
    margin-right: auto;
}

/* Style the buttons inside the tab */
.tab button {
    margin-left: auto;
    margin-right: auto;
    background-color: #666666;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 17%;
    transition: 0.3s;
    font-family: 'Germania One', cursive;
    font-size: 20px;
    color: white;
    margin: 0px 3px 0px 0px;
}


/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    color: black;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: white;
    color: rgb(255,102,0);
    border-top-left-radius: 40px;
    
}
/* Style the tab content */
.tabcontent {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
    float: left;
}
#null-1{
    display: none;
}

/*----Fin de Estilo Tab para Albums--------*/
/*Versión Celular*/
@media only screen and (min-width: 480px){
.col-c-3{width: 25%;}
.col-c-6{width: 50%;}
.col-c-12{width: 100%;}
}
/*Version tableta*/
@media only screen and (min-width: 768px){
.col-t-0.5{width: 4.11%;}
.col-t-1{width: 8.33%;}
.col-t-2{width: 16.66%;}
.col-t-3{width: 25%;}
.col-t-4{width: 33.33%;}
.col-t-5{width: 41.66%;}
.col-t-6{width: 50%;}
.col-t-7{width: 58.33%;}
.col-t-8{width: 66.66%;}
.col-t-9{width: 75%;}
.col-t-10{width: 83.33%;}
.col-t-11{width: 91.66%;}
.col-t-12{width: 100%;} 
/*------------------------------*/
    #null-1{
    background-color: aqua;
    visibility: hidden;
    display: block;
}
    #container{margin-top: 0px;}
    .navbar {
    overflow: hidden;
    background-color: white;
    font-family: 'Germania One', cursive;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px 0px 0px 0px;
}
.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
}
.dropdown {
    margin-left: 114px;
    float: left;
    overflow: hidden;
    width: 114px;
    height: 53px;
    background-image: url(../images/Boton-03.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;        
    padding: 13px 0px 0px 20px;
    font-size:20px;
}

.dropdown .dropbtn {  
    border: none;
    outline: none;
    color: black;
    padding: 20px 0px 0px 20xpx;
    font-family: inherit;
    margin: 0px 0px;
    font-size:22px;
    background-image: url(../images/Boton-03.png);
    text-align: center;
    
}
.dropdown:hover{ 
    background-position: 0px -106px;
}
.dropbtn:hover{
    color: rgb(255,102,0);
}
.navbar a:hover, .dropdown:hover{
    background-color: rgb(255,102,0);
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 13px;
    position: fixed;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 17px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

.dropdown-content a:hover {
    background-color: gray;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*---------Normales----------*/
a.boton-buscar{
    width: 114px;
    height: 53px;
    background-image: url(../images/Boton-02.png);
    background-repeat: no-repeat;
    background-position: 27px 0px;
    text-indent: -9999px;
    margin-left: auto;
    margin-top: auto;   
}
a.boton-buscar:hover{
    background-position: 27px -54px;
    background-color: white;
}
a.boton-inicio{
    padding: 12px 0px 13px 0px;
    font-size: 25px;
    word-break: break-all;
}
a.boton-artista{
    background-repeat: no-repeat;
}
a.boton-genero{
    background-repeat: no-repeat;
}
a.boton-fecha{
    background-repeat: no-repeat;
}
a.boton-normal{
    text-align: center;
    padding: 15px 7px 16px 7px;
    font-size: 19px;
}
/*-----------------------------*/
    a.boton-logo{
        width: 0;
        height: 0;
        text-indent: -9999px; 
        display: none;
    }
    .navbar {
        width: 115%;
        margin: 0px 0px 0px -114px;
        padding: 0px 0px 0px 0px;
    }
    .dropdown {
    margin-left: 114px;
    float: left;
    overflow: hidden;
    width: 114px;
    height: 53px;
    background-image: url(../images/Boton-03.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;        
    padding: 13px 0px 0px 20px;
    font-size:20px;
    }
    a.boton-inicio{
    padding: 15px 0px 15px 0px;
    font-size: 20px;
    word-break: break-all;
    }
    a.boton-buscar{
    background-image: url(../images/Boton-02.png);
    background-repeat: no-repeat;
    background-position: 27px 0px;
    text-indent: -9999px;
    margin: 0px 0px 0px -50px;
    }
    a.boton-normal{
    text-align: center;
    padding: 18px 7px 17px 7px;
    font-size: 15px;
    }
/*----Inicio de Estilo Tab para Albums-----*/

/* Style the buttons inside the tab */
.tab button {
    margin-left: auto;
    margin-right: auto;
    background-color: #666666;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 1px;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Germania One', cursive;
    font-size: 20px;
    color: white;
    margin: 0px 3px 0px 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    color: black;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: white;
    color: rgb(255,102,0);
    border-top-left-radius: 40px;
    padding: 18px 1px;
    
}
/* Style the tab content */
.tabcontent {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
    float: left;
}
/*----Fin de Estilo Tab para Albums--------*/
    .lista-post2{
        display: none;
    }
    #botones-foster{
    margin: 0% 35% 0 37%;
    text-align: center;
    }
    .foster p{
    margin-top: 30px;
    margin-left: 38%;
    margin-right: 38%;
    float: left;
    color: white;
    font-size: 10px;
    font-style: italic;
    }
    .pagination{
margin: 0% 0% 0% 41%
}
    .pagination li{
    float: left;
    padding: 15px 1.5% 0px 1.5%;
    margin: 0px 0px 20px 0px;
}
}
/*Versión Escritorio*/ 
@media only screen and (min-width: 1080px){
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
/*------------------------------*/
    #container{margin-bottom: 0px;}
    .navbar {
    overflow: hidden;
    background-color: white;
    font-family: 'Germania One', cursive;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px 0px 0px 0px;
}
.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
}
.dropdown {
    margin-left: 114px;
    float: left;
    overflow: hidden;
    width: 114px;
    height: 53px;
    background-image: url(../images/Boton-03.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;        
    padding: 13px 0px 0px 20px;
    font-size:20px;
}

.dropdown .dropbtn {  
    border: none;
    outline: none;
    color: black;
    padding: 20px 0px 0px 20xpx;
    font-family: inherit;
    margin: 0px 0px;
    font-size:22px;
    background-image: url(../images/Boton-03.png);
    text-align: center;
    
}
.dropdown:hover{ 
    background-position: 0px -106px;
}
.dropbtn:hover{
    color: rgb(255,102,0);
}
.navbar a:hover, .dropdown:hover{
    background-color: rgb(255,102,0);
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 13px;
    position: fixed;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 17px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

.dropdown-content a:hover {
    background-color: gray;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*---------Normales----------*/
a.boton-buscar{
    width: 114px;
    height: 53px;
    background-image: url(../images/Boton-02.png);
    background-repeat: no-repeat;
    background-position: 27px 0px;
    text-indent: -9999px;
    margin-left: auto;
    margin-top: auto;   
}
a.boton-buscar:hover{
    background-position: 27px -54px;
    background-color: white;
}
a.boton-inicio{
    padding: 12px 0px 13px 0px;
    font-size: 25px;
    word-break: break-all;
}
a.boton-artista{
    background-repeat: no-repeat;
}
a.boton-genero{
    background-repeat: no-repeat;
}
a.boton-fecha{
    background-repeat: no-repeat;
}
a.boton-normal{
    text-align: center;
    padding: 15px 7px 16px 7px;
    font-size: 19px;
}
/*-----------------------------*/
    a.boton-logo{
    width: 114px;
    height: 53px;
    background-image: url(../images/Boton-01.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-indent: -9999px;
    display: block;
    position: fixed;
    top: 0;
    }
    a.boton-logo:hover{
    background-position: 0px -56px;
    }
    .navbar {
        margin: 0px 0px 0px 0px;
    }
    a.boton-normal{
    text-align: center;
    padding: 15px 7px 17px 7px;
    font-size: 19px;
    }
    a.boton-inicio{
    padding: 13px 0px 12px 0px;
    font-size: 25px;
    word-break: break-all;
    }
/*Posts de Web*/
/*----Inicio de Estilo Tab para Albums-----*/
.tab {
    float: none;
    display: contents;
    margin-left: auto;
    margin-right: auto;
}

/* Style the buttons inside the tab */
.tab button {
    margin-left: auto;
    margin-right: auto;
    background-color: #666666;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 1px;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Germania One', cursive;
    font-size: 20px;
    color: white;
    margin: 0px 3px 0px 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    color: black;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: white;
    color: rgb(255,102,0);
    border-top-left-radius: 40px;
    padding: 18px 1px;
    
}
/* Style the tab content */
.tabcontent {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
    float: left;
}
/*----Fin de Estilo Tab para Albums--------*/
    
/*----LISTAS POSTS----*/
#null-1{
    background-color: aqua;
    visibility: hidden;
    display: block;
}
.lista-post, .lista-post2{
    margin-left: auto;
    margin-right: auto;
    float: left;
    background-color: white;
    padding: 0px 0px 0px 0px;
    margin: 0px 10px 0px 0px;
}
    .lista-post2{
        display: block;
    }
.post{
    margin: 40px 25px 40px 25px;
    padding: 0px 0px 0px 0px;
}
.texto-post h3{
    margin: -135px 0px 0px 178px;
    float: left;
}
.texto-post h4{
    margin: -83px 0px 0px 178px;
    float: left;
    color: rgb(255,102,0);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.texto-post p{
    float: left;
    margin: -35px 0px 0px 178px;
    display: block;
    line-height: 17px
}
#puntuacion{
    width: 117px;
    height: 21px;
    background-image: url(../images/puntaje.png);
    margin: -60px 0px 0px 177px;
    float: left;
}
.texto-post2 h5{
    float: right;
    margin: -78px 0px 0px 340px;
    text-align: right;
}
.texto-post2 a{
    font-family: 'Germania One', cursive;
    float: right;
    color: rgb(255,102,0);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 17.5px;
    margin: -40px 0px 0px 335px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255,102,0);
}
.texto-post2 a:hover{
    background-color: rgb(255,102,0);
    color: white; 
    }
    #botones-foster{
    margin: 0% 35% 0 37%;
    text-align: center;
    }
    .foster p{
    margin-top: 30px;
    margin-left: 38%;
    margin-right: 38%;
    float: left;
    color: white;
    font-size: 10px;
    font-style: italic;
    }
    .pagination{
margin: 0% 0% 0% 41%
}
    .pagination li{
    float: left;
    padding: 15px 1.5% 0px 1.5%;
    margin: 0px 0px 20px 0px;
}
}